@model IList<AdminMenu>
<!-- Sidebar -->
<div class="sidebar" data-background-color="dark">
	<div class="sidebar-logo">
		<!-- Logo Header -->
		<div class="logo-header" data-background-color="dark">
			<a href="index.html" class="logo">
				<img src="~/assets/img/kaiadmin/logo_light.svg"
					 alt="navbar brand"
					 class="navbar-brand"
					 height="20" />
			</a>
			<div class="nav-toggle">
				<button class="btn btn-toggle toggle-sidebar">
					<i class="gg-menu-right"></i>
				</button>
				<button class="btn btn-toggle sidenav-toggler">
					<i class="gg-menu-left"></i>
				</button>
			</div>
			<button class="topbar-toggler more">
				<i class="gg-more-vertical-alt"></i>
			</button>
		</div>
		<!-- End Logo Header -->
	</div>
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<ul class="nav nav-secondary">
				@foreach (var mn in Model.Where(m => m.ItemLevel == 1).OrderBy(n => n.ItemOrder))
				{
					var active = string.Equals(ViewContext.RouteData.Values["controller"].ToString(), mn.ControllerName, StringComparison.OrdinalIgnoreCase) ? "active" : "";
					var mid = mn.MenuID;
					var smn = Model.Where(p => p.ParentLevel == mid).OrderBy(p => p.ItemOrder).ToList();
					if (smn.Count == 0)
					{
						<li class="nav-item @active">
							<a href="@mn.ControllerName">
								<i class="@mn.Icon"></i>
								<p>@mn.MenuName</p>
							</a>
						</li>
					}
					else
					{
						<li class="nav-item">
							<a data-bs-toggle="collapse" href="#@mn.ItemTarget">
								<i class="@mn.Icon"></i>
								<p>@mn.MenuName</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="@mn.IdName">
								<ul class="nav nav-collapse">
									@foreach (var cc in smn)
									{
										<li>
											<a href="@cc.ControllerName/@cc.ActionName">
												<span class="sub-item">@cc.MenuName</span>
											</a>
										</li>
									}
								</ul>
							</div>
						</li>
					}
				}
			</ul>
		</div>
	</div>
</div>
<!-- End Sidebar -->